@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
	background: #18181b;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}

.animate-slide-in {
  animation: slide-in 0.4s ease-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.35s ease-in forwards;
}


